.background {
    background: #14b3ab;
}

.navbar-brand {
    font-family: 'Reenie Beanie';
    font-size: 3em;
    letter-spacing: 4px;
}

.navbar-nav .nav-link {
    margin-left: 1em;
}

body {
    font-family: 'Space Grotesk';
}
